<config>
	<preload>

		<item url="images/olo.jpg" 
			  id="olo"/>

		<item url="test.xml" 
			  id="test"/>

		<item url="http://www.hdwallpapers.in/walls/sunflower_landscape-wide.jpg" 
			  id="img2"/>

		<item url="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTp50Jwb5SyxPtIcCBU0U90Fkn6FZZQ1TU5vPCoFPLsZqpmnzfI" 
			  id="img1"/>

	</preload>
	<assets>
		<asset id="warehouse" url="content.swf" type="library"/>
	</assets>
	<params>
		<volume>70</volume>
	</params>
	<levels>
		<level id="1" xmlUrl="data/levels/1.xml"/>
		<level id="2" xmlUrl="data/levels/2.xml"/>
		<level id="3" xmlUrl="data/levels/3.xml"/>
		<level id="4" xmlUrl="data/levels/4.xml"/>
	</levels>
</config>