<config>
	<preload>

		<item url="images/olo.jpg" 
			  id="olo"/>

		<item url="test.xml" 
			  id="test"/>

		<item url="http://www.hdwallpapers.in/walls/sunflower_landscape-wide.jpg" 
			  id="img2"/>

		<item url="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTp50Jwb5SyxPtIcCBU0U90Fkn6FZZQ1TU5vPCoFPLsZqpmnzfI" 
			  id="img1"/>

	</preload>
	<assets>
		<asset id="warehouse" url="content.swf"/>
		<asset id="dolphin" url="top_dolphin_facts_2.jpg"/>
		<asset id="dolphin1" url="http://bm.img.com.ua/berlin/storage/orig/6/10/55e673f39357f65da60ac5f0c8663106.jpg"/>
		<asset id="dolphin2" url="http://www.ejin.ru/uploads/posts/2012-03/3b4a1c1cc0c2af8e8522e3ad4c71e1a4cc3cb8ae.jpg"/>
	</assets>
	<params>
		<volume>70</volume>
	</params>
</config>